body {
    background-color: #006;
    color: rgb(255, 255, 255);
}
.titulo {
    font-size: 35px;
    font-family:fuenteboca;
    color: #fcaf17;
}

.container-historias {
    margin-top: 10rem;
}

.container-historiaResumen {
    margin-left: 6rem;
    margin-top: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-imgbati {
    position: absolute;
    right: -160px;
    top: 220px;
}

.container-imgbati img {
    width: 70%;
}

.container-imgjuvenil{
    margin-top: 3rem;
    margin-left: 6rem;
}

.container-imgjuvenil img {
    width: 40%;
    
}

.container-historiaInicio {
    position:absolute;
    top: 700px;
    right: 170px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.container-historiaVillareal {
    margin-left: 6rem;
    margin-top: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container-imgvilla img {
    width: 60%;
}

.container-imgvilla {
    position:absolute;
    top: 1025px;
    right: -300px;
}
 
.container-historiaDatos {
    position:absolute;
    top: 1400px;
    right: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-historiaCopas {
    margin-left: 6rem;
    margin-top: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-imgcopas img {
    width: 50%;
}

.container-imgcopas {
    position:absolute;
    top: 1743px;
    right: -525px;
}